.~lock.Project Vision and Background.odt#
.~lock.videopresentation.odp#
.~lock.SprintPlan.odt#
final_present.mov
bestMoves.txt
docs/giles original outline.docx
docs/.~lock.final-portfolio.odt#
docs/SprintPlan 1 of 6.png
docs/SprintPlan 2 of 6.png
docs/SprintPlan 3 of 6.png
docs/SprintPlan 4 of 6.png
docs/SprintPlan 5 of 6.png
docs/SprintPlan 6 of 6.png
docs/final-portfolio.pdf
docs/SprintPlan.pdf
