.~lock.Project Vision and Background.odt#
.~lock.videopresentation.odp#
.~lock.SprintPlan.odt#
final_present.mov
bestMoves.txt
docs/giles original outline.docx
docs/.~lock.final-portfolio.odt#
docs/.~lock.final-portfolio.odt#
